<h1>Hungry and on a budget? Find cheap restaurants!</h1>

<form action="/search">

    <div class="form-section">
        <label for="name">City</label>
        <br>
        <input name="city" id="city" required>
    </div>
    
    <div class="form-section">
        <label for="search">Search term to narrow results e.g. Pizza (optional)</label>
        <br>
        <input name="search" id=search>
    </div>
    
    <div class="form-section">
        <button type="submit">Search!</button>
    </div>

</form>